In [130]:
import numpy as np
import pandas as pd
from janitor import clean_names
%config IPCompleter.greedy=True

In [131]:
path = '../../'

## Upload work dataset

In [132]:
complete_path = path + '/02_Data/03_Work/' + 'work.csv'
df = pd.read_csv(complete_path,index_col=0,sep =',')
df

,origen,fuente,no_enviar_email,no_llamar,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,ult_actividad,ambito,ocupacion,conociste_google,conociste_revista,conociste_periodico,conociste_youtube,conociste_facebook,conociste_referencias,score_actividad,score_perfil,descarga_lm
id,,,,,,,,,,,,,,,,,,,,
660737,API,Chat,No,No,0,0.0,0,0.00,Page Visited on Website,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660728,API,Organic Search,No,No,0,5.0,674,2.50,Email Opened,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.00,Email Opened,Business Administration,Student,No,No,No,No,No,No,14.0,20.0,Yes
660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.00,Unreachable,Media and Advertising,Unemployed,No,No,No,No,No,No,13.0,17.0,No
660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.00,Converted to Lead,Select,Unemployed,No,No,No,No,No,No,15.0,18.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579701,Landing Page Submission,Google,No,No,0,2.0,870,2.00,Email Opened,Human Resource Management,Unemployed,No,No,No,No,No,No,13.0,20.0,No
579642,Landing Page Submission,Direct Traffic,No,No,0,2.0,1770,2.00,SMS Sent,Human Resource Management,Unemployed,No,No,No,No,No,No,14.0,20.0,Yes
579564,Landing Page Submission,Direct Traffic,Yes,No,1,8.0,1845,2.67,Email Marked Spam,IT Projects Management,Unemployed,No,No,No,No,No,No,15.0,17.0,No
579545,Landing Page Submission,Direct Traffic,Yes,No,0,2.0,199,2.00,SMS Sent,Business Administration,Unemployed,No,No,No,No,No,No,13.0,20.0,Yes
579533,Landing Page Submission,Direct Traffic,No,No,1,6.0,1279,3.00,SMS Sent,Supply Chain Management,Unemployed,No,No,No,No,No,No,15.0,18.0,Yes

## Overview

In [133]:
df.head()

,origen,fuente,no_enviar_email,no_llamar,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,ult_actividad,ambito,ocupacion,conociste_google,conociste_revista,conociste_periodico,conociste_youtube,conociste_facebook,conociste_referencias,score_actividad,score_perfil,descarga_lm
id,,,,,,,,,,,,,,,,,,,,
660737,API,Chat,No,No,0,0.0,0,0.0,Page Visited on Website,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,Select,Unemployed,No,No,No,No,No,No,15.0,15.0,No
660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,Email Opened,Business Administration,Student,No,No,No,No,No,No,14.0,20.0,Yes
660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,Unreachable,Media and Advertising,Unemployed,No,No,No,No,No,No,13.0,17.0,No
660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,Converted to Lead,Select,Unemployed,No,No,No,No,No,No,15.0,18.0,No

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6365 entries, 660737 to 579533
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   origen                 6365 non-null   object
 1   fuente                 6339 non-null   object
 2   no_enviar_email        6365 non-null   object
 3   no_llamar              6365 non-null   object
 4   compra                 6365 non-null   int64
 5   visitas_total          6283 non-null   float64
 6   tiempo_en_site_total   6365 non-null   int64
 7   paginas_vistas_visita  6283 non-null   float64
 8   ult_actividad          6304 non-null   object
 9   ambito                 5383 non-null   object
 10  ocupacion              4542 non-null   object
 11  conociste_google       6365 non-null   object
 12  conociste_revista      6365 non-null   object
 13  conociste_periodico    6365 non-null   object
 14  conociste_youtube      6365 non-null   object
 15  conociste_facebook     6365 non-null   object
 16  conociste_referencias  6365 non-null   object
 17  score_actividad        3500 non-null   float64
 18  score_perfil           3500 non-null   float64
 19  descarga_lm            6365 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 1.0+ MB

## DATA TYPES

In [135]:
df.dtypes

origen                    object
fuente                    object
no_enviar_email           object
no_llamar                 object
compra                     int64
visitas_total            float64
tiempo_en_site_total       int64
paginas_vistas_visita    float64
ult_actividad             object
ambito                    object
ocupacion                 object
conociste_google          object
conociste_revista         object
conociste_periodico       object
conociste_youtube         object
conociste_facebook        object
conociste_referencias     object
score_actividad          float64
score_perfil             float64
descarga_lm               object
dtype: object

### TO CHANGE

In [136]:
df = df.astype({'visitas_total':'Int64'})

df.dtypes

origen                    object
fuente                    object
no_enviar_email           object
no_llamar                 object
compra                     int64
visitas_total              Int64
tiempo_en_site_total       int64
paginas_vistas_visita    float64
ult_actividad             object
ambito                    object
ocupacion                 object
conociste_google          object
conociste_revista         object
conociste_periodico       object
conociste_youtube         object
conociste_facebook        object
conociste_referencias     object
score_actividad          float64
score_perfil             float64
descarga_lm               object
dtype: object

## UNIQUE VALUES

In [137]:
df.nunique().sort_values()

conociste_youtube           1
conociste_revista           1
descarga_lm                 2
conociste_referencias       2
no_enviar_email             2
no_llamar                   2
compra                      2
conociste_facebook          2
conociste_periodico         2
conociste_google            2
origen                      4
ocupacion                   6
score_perfil               10
score_actividad            12
fuente                     13
ult_actividad              17
ambito                     19
visitas_total              39
paginas_vistas_visita     105
tiempo_en_site_total     1577
dtype: int64

### CORRECTION

In [138]:
df.drop(columns = ['conociste_youtube','conociste_revista'], inplace = True)

## DUPLICATED VALUES

In [139]:
df.duplicated().sum()

1057

### Correction

In [140]:
df.drop_duplicates(inplace = True)

## SEPARATE DATASETS, NUMERICAL AND CATEGORICAL TYPES

### Categorical

In [141]:
cat = df.select_dtypes(exclude = 'number').copy()

### Numerical

In [142]:
num = df.select_dtypes(include='number').copy()

## CATEGORICAL MANAGEMENT

### NULL

In [144]:
cat.isna().sum().sort_values(ascending = False)

ocupacion                1317
ambito                    476
ult_actividad              61
fuente                     18
origen                      0
no_enviar_email             0
no_llamar                   0
conociste_google            0
conociste_periodico         0
conociste_facebook          0
conociste_referencias       0
descarga_lm                 0
dtype: int64

##### Impute by value

###### columns to impute

In [145]:
cat.columns.to_list()

['origen',
 'fuente',
 'no_enviar_email',
 'no_llamar',
 'ult_actividad',
 'ambito',
 'ocupacion',
 'conociste_google',
 'conociste_periodico',
 'conociste_facebook',
 'conociste_referencias',
 'descarga_lm']

In [146]:
var_imputar_valor = ['origen',
                     'fuente',
                     'no_enviar_email',
                     'no_llamar',
                     'ult_actividad',
                     'conociste_google',
                     'conociste_periodico',
                     'conociste_facebook',
                     'conociste_referencias',
                     'descarga_lm']

In [147]:
value = 'anknown'

In [148]:
cat[var_imputar_valor] = cat[var_imputar_valor].fillna(value)

##### Impute by  mode

In [149]:
var_impute_mode = ['ocupacion','ambito']

In [150]:
def impute_mode(variable):
    return(variable.fillna(variable.mode()[0]))

In [151]:
cat[var_impute_mode] = cat[var_impute_mode].apply(impute_mode)

### Outliers

##### Function to  group by rear categores in  'OTHER'

In [152]:
def group_rear_cat(variable, criterio = 0.05):
    
    frec = variable.value_counts(normalize=True)
    temp = [cada for cada in frec.loc[frec < criterio].index.values]
    temp2 = np.where(variable.isin(temp),'OTHER',variable)
    return(temp2)

##### Columns to apply

In [153]:
var_impute_mode = cat.columns.to_list()

##### Apply

In [154]:
for variable in var_impute_mode:
    cat[variable] =  group_rear_cat(cat[variable],criterio = 0.02)

In [155]:
cat.isna().sum().sort_values(ascending = False)

origen                   0
fuente                   0
no_enviar_email          0
no_llamar                0
ult_actividad            0
ambito                   0
ocupacion                0
conociste_google         0
conociste_periodico      0
conociste_facebook       0
conociste_referencias    0
descarga_lm              0
dtype: int64

## NUMERICAL MANAGEMENT

### Null

In [156]:
num.isna().sum().sort_values(ascending = False)

score_actividad          2296
score_perfil             2296
visitas_total              82
paginas_vistas_visita      82
compra                      0
tiempo_en_site_total        0
dtype: int64

#### Corrección

##### Impute by  median

In [157]:
var_impute_median = num.columns.to_list()

In [158]:
def impute_median(variable):
    if pd.api.types.is_integer_dtype(variable):
        return(variable.fillna(int(variable.median())))
    else:
        return(variable.fillna(variable.median()))

In [159]:
num[var_impute_median] = num[var_impute_median].apply(impute_median)

#### Manual winsorization for  one  column

###### Define min and max treshold.

###### Aplicar

In [160]:
num['visitas_total'].clip(0,50, inplace=True)
num['paginas_vistas_visita'].clip(0,20, inplace=True)

In [161]:
num

,compra,visitas_total,tiempo_en_site_total,paginas_vistas_visita,score_actividad,score_perfil
id,,,,,,
660737,0,0,0,0.00,15.0,15.0
660728,0,5,674,2.50,15.0,15.0
660727,1,2,1532,2.00,14.0,20.0
660719,0,1,305,1.00,13.0,17.0
660681,1,2,1428,1.00,15.0,18.0
...,...,...,...,...,...,...
579701,0,2,870,2.00,13.0,20.0
579642,0,2,1770,2.00,14.0,20.0
579564,1,8,1845,2.67,15.0,17.0
579545,0,2,199,2.00,13.0,20.0
579533,1,6,1279,3.00,15.0,18.0

## SAVE  DATASETS AFTER DATA QUALITY

In [163]:
cat.isna().sum().sort_values(ascending = False)

origen                   0
fuente                   0
no_enviar_email          0
no_llamar                0
ult_actividad            0
ambito                   0
ocupacion                0
conociste_google         0
conociste_periodico      0
conociste_facebook       0
conociste_referencias    0
descarga_lm              0
dtype: int64

In [164]:
path_work = path + '/02_Data/03_Work/' + 'work_quality_result.pickle'
path_cat = path + '/02_Data/03_Work/' + 'cat_quality_result.pickle'
path_num = path + '/02_Data/03_Work//' + 'num_quality_result.pickle'

In [165]:
df.to_pickle(path_work)
cat.to_pickle(path_cat)
num.to_pickle(path_num)